{% extends 'base.html' %}

{% block content %}
<head>
</head>
<body>
    <table style="width:60%">
        <tr>
            <th>Date</th>
            <th>Session</th>
            <th>Participant</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <form action="/delete_booking" method="post">
                <td>{{ booking.date }}</td>
                <td>{{ booking.session_id }}</td>
                <td>{{ booking.member_id }}</td>    
                <td><input type="submit" value="Delete"></td>  
                <input type="hidden" value="{{ booking.id }}" name="booking_id">
            </form>
        </tr>    
        {% endfor %}
    </table>
</body>

{% endblock %}
