/* .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .btn:hover {background: #eee;}

  .default {color: black;}
  .success {color: green;}

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

